@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
}

body,
main {
	min-height: 100vh;
	font-family: 'Space Grotesk', sans-serif;
}
body::-webkit-scrollbar {
	width: 3px;
	background: transparent;
}
body::-webkit-scrollbar-track {
	width: 3px;
	background: transparent;
}
body::-webkit-scrollbar-thumb {
	width: 3px;
	background: black;
}

.loginSheet {
	background: linear-gradient(
		180deg,
		rgba(43, 154, 217, 0.6) 0%,
		rgba(255, 255, 255, 0.5) 100%
	);
}

.loginsheetShadow {
	box-shadow: 6px 15px 50px 0px rgba(217, 217, 217, 0.2);
}

.input_stroke {
	stroke-width: 0.5px;
	stroke: rgba(56, 64, 79, 0.5);
	border: 0.5px solid rgba(56, 64, 79, 0.5);
}
